<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout_user_setting">
<head>
	<title>修改密码</title>
	<link rel="stylesheet" th:href="@{/content/css/user_edit_password.css}"/>
</head>
<body>
    <div layout:fragment="content">
    	<div class="panel panel-default">
   			<div class="panel-body">
				<h2>
					<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
					<span>修改密码</span>					
				</h2>
				<hr/>
				<div class="col-md-6">
				  <div class="form-group">
				    <label for="original-password">原始密码</label>
				    <input type="password" class="form-control" id="original-password" placeholder="原始密码" />
				    <p id="orginal-password-err" class="err hidden mb-5"></p>
				  </div>
				  
				  <div class="form-group">
				    <label for="original-password">新密码</label>
				    <input type="password" class="form-control" id="password" placeholder="新密码" />
				    <p id="password-err" class="err hidden mb-5"></p>
				  </div>
				  
				  <div class="form-group">
				    <label for="original-password">重复新密码</label>
				    <input type="password" class="form-control" id="re-password" placeholder="重新输入新密码" />
				    <p id="re-password-err" class="err hidden mb-5"></p>
				  </div>
				  
				  <button type="button" class="btn btn-primary" id="btn-edit">应用修改</button>
				</div>
   			</div>
   		</div>
    </div>
    
    <div layout:fragment="scripts">	
    	<input id="hidden_userId" type="hidden" th:if="${session.userName!=null}" th:value="${session.userId}"/>
    </div>
</body>
</html>
