<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
   	<title></title>
   	<link th:replace="fragments/common/common_css :: common_css"/>
   	<link rel="stylesheet" th:href="@{/content/css/account_wx_bind.css}"/>
  </head>
<body>
<div>
    <p th:if="${binded==1}" class="bg-success">绑定成功!</p>
    <p th:if="${binded==0}" class="bg-danger">绑定失败!</p>
</div>
<input type="hidden" id="hidden_binded" th:value="${binded}"/>
<script th:replace="fragments/common/common_js :: common_js"></script>
</body>
</html>
